site_name: jacobh.io
site_url: https://jacobh.io
plugins:
  - social
  - search:
      lang: en
      separator: '[\s\-/]+'
      min_search_length: 2
      prebuild_index: true
      index_search_page: true
theme:
  name: material
  logo: assets/favicon.ico
  favicon: assets/favicon.ico
  font:
    text: Ubuntu
    code: Roboto Mono
  
  palette:    
    - scheme: slate
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
      primary: black

    - scheme: default
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: black
  features:
    - content.code.copy
    - navigation.tabs




repo_url: https://github.com/Jacob-Ham/jacobhio
repo_name: Jacob-Ham/jacobhio

markdown_extensions:
- pymdownx.highlight:
    anchor_linenums: true
    line_spans: __span
    pygments_lang_class: true
- pymdownx.inlinehilite
- pymdownx.snippets
- pymdownx.superfences
- admonition
